<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Manager</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" href="/bootstrap/js/jquery-3.6.3.min.js"/>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Quản lí thuốc tiêm</h5>
                        <p class="card-text">Nhập thuốc tiêm, danh sách thuốc tiêm.</p>
                        <a href="/vaccine/home" class="btn btn-primary">Xem</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Quản lý khách hàng</h5>
                        <p class="card-text">Danh sách khách hàng, tìm kiếm khách hàng</p>
                        <a href="/patient/home" class="btn btn-primary">Xem</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Quản lý bác sĩ</h5>
                        <p class="card-text">Thêm, tìm kiếm, danh sách bác sĩ</p>
                        <a href="/doctor/home" class="btn btn-primary">Xem</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
