<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Đăng kí tiêm </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" href="/bootstrap/js/jquery-3.6.3.min.js"/>
    </head>
    <body>
        <form th:action="@{'/patient/register/save'}" method="post" th:object="${acc}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Họ và tên</span>
                </div>
                <input type="text" th:field="*{hoTen}" class="form-control" placeholder="Nhập họ và tên" 
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">CCCD</span>
                </div>
                <input type="text" th:field="*{cccd}" class="form-control" placeholder="Nhập căn cước công dân" 
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Ngày sinh</span>
                </div>
                <input type="date" th:field="*{ngaySinh}" name="ngaySinh" class="form-control" placeholder="Nhập số điện thoại" 
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Số điện thoại</span>
                </div>
                <input type="text" th:field="*{sdt}" class="form-control" placeholder="Nhập số điện thoại" 
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Giới tính</span>
                </div>
                <select class="form-select" th:field="*{gioiTinh}" aria-label="Default select example">
                    <option th:value="Nam">Nam</option>
                    <option th:value="Nữ">Nữ</option>
                </select>     
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="text" th:field="*{email}" class="form-control" placeholder="Nhập email" 
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="btn btn-secondary" style="margin-top: 20px;">Save</button>
            <footer class="blockquote-footer" style="margin-left: 80px;">Lưu ý nếu đã tiêm thì chỉ cần nhập<cite title="Source Title">CCCD</cite></footer>
        </form>
        <table border="1" class="table">
            <thead>
                <tr>
                    <th scope="col">Mã số thuốc</th>
                    <th scope="col">Tên thuốc</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Số mũi cần tiêm</th>
                    <th scope="col">Số ngày tiêm mũi tiếp</th>
                    <th scope="col">Đơn giá</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="vaccine : ${list}">
                    <td th:text="${vaccine.maSoThuoc}"></td>
                    <td th:text="${vaccine.tenThuoc}"></td>
                    <td th:text="${vaccine.soLuong}"></td>
                    <td th:text="${vaccine.soMuiCanTiem}"></td>
                    <td th:text="${vaccine.soNgayTiemMuiTiep}"></td>
                    <td th:text="${vaccine.donGia}"></td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination" style="margin-top:50px;">
                <li class="page-item" th:class="${pageNumber < 2} ? disabled : page-item">
                    <a class="page-link" th:href="@{'/patient/register/' + ${pageNumber - 1}}" tabindex="-1">Previous</a>
                </li>
                <li class="page-item" th:class="${pageNumber == 1} ? active"><a class="page-link" href="/patient/register/1">1</a></li>

                <li th:if="${pageNumber > 1 && pageNumber < pageMax}" class="page-item active">
                    <a class="page-link" th:href="@{'/patient/register/' + ${pageNumber}}" th:text="${pageNumber}"></a>
                </li>
                <li class="page-item" th:class="${pageNumber == pageMax} ? active"><a class="page-link" th:href="@{'/patient/register/' + ${pageMax}}" 
                                                                                      th:text="${pageMax}" th:if="${pageMax > 1}"></a></li>
                <li class="page-item" th:class="${pageNumber == pageMax} ? disabled : page-item">
                    <a class="page-link" th:href="@{'/patient/register/' + ${pageNumber + 1}}">Next</a>
                </li>
            </ul>
        </nav>
        <a href="/guest/home" class="btn btn-primary" style="margin-top: 20px;">Trang chủ khác hàng</a>
    </body>
</html>
