<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Quản lí bệnh nhân</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" href="/bootstrap/js/jquery-3.6.3.min.js"/>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Danh sách bệnh nhân</h5>
                        <p class="card-text">.</p>
                        <a href="/patient/list/1" class="btn btn-primary">Xem</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Tìm kiếm bệnh nhân</h5>
                        <p class="card-text">.</p>
                        <a href="/patient/search1" class="btn btn-primary">Cccd</a>
                        <a href="/patient/search2" class="btn btn-primary">Tên bệnh nhân</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="/manager/home" class="btn btn-primary" style="margin-top: 20px;">Trang quản lý</a>
    </body>
</html>
