<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" href="/bootstrap/js/jquery-3.6.3.min.js"/>
    </head>
    <body>
        <p class="h1" th:text="${msg}"></p>
        <form th:action="@{'/doctor/create'}" method="post" th:object="${doctor}">
            <div class="form-row" style="margin: 20px">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Tên bác sĩ</label>
                    <input type="text" th:field="*{tenBacSi}" class="form-control" placeholder="Nhập tên bác sĩ"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Tuổi</label>
                    <input type="text" th:field="*{tuoi}" class="form-control" placeholder="Nhập tuổi">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Chức danh</label>
                    <select class="form-select" aria-label="Default select example" th:field="*{chucDanh}">
                        <option value="Bác sĩ">Bác sĩ</option>
                        <option value="Phó khoa">Phó khoa</option>
                        <option value="Trưởng Khoa">Trưởng khoa</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Số điện thoại</label>
                    <input type="text" th:field="*{sdt}" class="form-control" placeholder="Nhập số điện thoại">
                </div>
                <button class="btn btn-primary" style="margin-top: 20px;">Save</button>
            </div>
        </form>
        <a href="/doctor/home" class="btn btn-primary" style="margin-top: 20px;">Trang quản lý bác sĩ</a>
    </body>
</html>
