<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Danh sách bác sĩ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/bootstrap/js/bootstrap.min.js"/>
        <link rel="stylesheet" href="/bootstrap/js/jquery-3.6.3.min.js"/>
    </head>
    <body>       
        <table border="1" class="table">
            <thead>
                <tr>
                    <th scope="col">Mã bác sĩ</th>
                    <th scope="col">Tên bác sĩ</th>
                    <th scope="col">Tuổi</th>
                    <th scope="col">Chức danh</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>

            <tbody>
                <tr th:each="doctor : ${list}">
                    <td th:text="${doctor.maDinhDanh}"></td>
                    <td th:text="${doctor.tenBacSi}"></td>
                    <td th:text="${doctor.tuoi}"></td>
                    <td th:text="${doctor.chucDanh}"></td>
                    <td th:text="${doctor.sdt}"></td>
                    <td><a th:href="@{'/doctor/edit/' + ${doctor.maDinhDanh}}">Edit</a></td>
                    <td><a th:href="@{'/doctor/delete/' + ${doctor.maDinhDanh}}">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination" style="margin-top:50px;">
                <li class="page-item" th:class="${pageNumber < 2} ? disabled : page-item">
                    <a class="page-link" th:href="@{'/doctor/list/' + ${pageNumber - 1}}" tabindex="-1">Previous</a>
                </li>
                <li class="page-item" th:class="${pageNumber == 1} ? active"><a class="page-link" href="/doctor/list/1">1</a></li>

                <li th:if="${pageNumber > 1 && pageNumber < pageMax}" class="page-item active">
                    <a class="page-link" th:href="@{'/doctor/list/' + ${pageNumber}}" th:text="${pageNumber}"></a>
                </li>
                <li class="page-item" th:class="${pageNumber == pageMax} ? active"><a class="page-link" th:href="@{'/doctor/list/' + ${pageMax}}" 
                                                                                      th:text="${pageMax}" th:if="${pageMax > 1}"></a></li>
                <li class="page-item" th:class="${pageNumber == pageMax} ? disabled : page-item">
                    <a class="page-link" th:href="@{'/doctor/list/' + ${pageNumber + 1}}">Next</a>
                </li>
            </ul>
        </nav>
        <a href="/doctor/home" class="btn btn-primary" style="margin-top: 20px;">Trang chủ quản lí bác sĩ</a>
        <p class="h1" th:text='${(msg==null)? "" : msg }'></p>
    </body>
</html>
